<div class="tabs">
    <div class="disabled-tab"><a [href]="loginPath">Login</a></div>
    <div>Registrierung</div>
</div>
<mat-card-content>
    <form class="authentication-form registration-form" [formGroup]="registrationForm" (ngSubmit)="onRegister()">
        <mat-form-field floatLabel="always">
            <mat-label>Username</mat-label>
            <input matInput [formControlName]="usernameAttr">
            <mat-error *ngIf="getRequiredError(usernameAttr)">{{getRequiredError(usernameAttr)}}</mat-error>
        </mat-form-field>
        <mat-form-field floatLabel="always">
            <mat-label>Email</mat-label>
            <input matInput [formControlName]="emailAttr">
            <mat-error *ngIf="getRequiredError(emailAttr)">{{getRequiredError(emailAttr)}}</mat-error>
        </mat-form-field>
        <mat-form-field floatLabel="always">
            <mat-label>Password</mat-label>
            <input matInput [formControlName]="passwordAttr">
            <mat-error *ngIf="getRequiredError(passwordAttr)">{{getRequiredError(passwordAttr)}}</mat-error>
        </mat-form-field>
        <div class="submit-trigger">
            <button class="icon_button" mat-flat-button color="primary" (click)="registrationForm.reset()">Clear</button>
            <button class="icon_button" mat-flat-button color="primary" [disabled]="!registrationForm.valid">Registrieren</button>
        </div>
    </form>
</mat-card-content>