::ng-deep .mat-toolbar {
    box-shadow: 1px 1px 4px rgba(0,0,0,0.16), 1px 1px 4px rgba(0,0,0,0.23) !important;
}

::ng-deep .mat-card {
    padding: 2em !important;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.16), 1px 1px 4px rgba(0,0,0,0.23) !important;
}

::ng-deep .mat-card-title {
    margin-bottom: 1em !important;
}

::ng-deep .mat-form-field {
    margin-bottom: 1em !important;
}

::ng-deep .mat-divider {
    width: 80% !important;
}