<div class="tabs">
    <div>Login</div>
    <div class="disabled-tab"><a [href]="registrationPath">Registrierung</a></div>
</div>
<mat-card-content>
    <div>
        <div>Github</div>
        <div>Gitlab</div>
    </div>
    Or
</mat-card-content>
<mat-divider></mat-divider>
<mat-card-content>
    <form class="authentication-form login-form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <mat-form-field floatLabel="always">
            <mat-label>Username</mat-label>
            <input matInput [formControlName]="usernameAttr">
            <mat-error *ngIf="getRequiredError(usernameAttr)">{{getRequiredError(usernameAttr)}}</mat-error>
        </mat-form-field>
        <mat-form-field floatLabel="always">
            <mat-label>Passwort</mat-label>
            <input matInput [formControlName]="passwordAttr">
            <mat-error *ngIf="getRequiredError(passwordAttr)">{{getRequiredError(passwordAttr)}}</mat-error>
        </mat-form-field>
        <mat-checkbox [formControlName]="rememberMeAttr">Angemeldet bleiben</mat-checkbox>
        <div class="submit-trigger">
            <button class="icon_button" mat-flat-button (click)="loginForm.reset()">Clear</button>
            <button class="icon_button" mat-flat-button color="primary" [disabled]="!loginForm.valid">Einloggen</button>
        </div>
    </form>
</mat-card-content>