:host {
    display: flex;
    justify-content: center;
}

::ng-deep .authentication-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .submit-trigger {
        display: flex;
        flex-direction: row;
        margin: 1em;

        >button {
            margin: 0.5em;
        }
    }
}
